<!DOCTYPE html>
<!--[if lt IE 10]>
<html id="ng-app" ng-app="app" xmlns:ng="http://angularjs.org" class="oldie"></html>
<![endif]-->
<!--[if gt IE 9]<!-->
<html ng-app="app">
  <!--<![endif]-->
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--script(src='http://cdnjs.cloudflare.com/ajax/libs/firebug-lite/1.4.0/firebug-lite.js')-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.2.5/json3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.js"></script>
    <script src="js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-3365089-9', 'hvadsynesduselv.dk');
      ga('send', 'pageview');
      
    </script>
    <!--[if lt IE 8]>
    <script>
      document.createElement('ng-select');
      document.createElement('ng-option');
      
      
    </script>
    <![endif]-->
  </head>
  <body ng-controller="MainCtrl">
    <main ng-style="{backgroundColor: farve}">
      <h1>{{farve}}</h1>
      <form>
        <p ng-repeat="color in colors">
          <input type="radio" ng-model="$parent.farve" ng-value="color"><span>{{color}}</span>
        </p>
        <select ng-model="farve" ng-options="c for c in colors"></select>
      </form>
    </main>
  </body>
</html>