@import 'compass';
@import 'lib/flexbox';
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);
@import url(http://fonts.googleapis.com/css?family=Poly);


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ledger', sans-serif;
  background-color: whitesmoke;
  margin: 0;
  color: white;
}

main {
  height: 100vh;
  padding: 2em;
}
